# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Node
node_modules/
dist/
build/

# Data and Models
backend/data/*.db
backend/data/*.npy
backend/data/*.csv
backend/app/models/*.pkl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

#Frontend 
package-lock.json
node_modules/
.vite/